.main-container {
 margin-bottom: 120px;
 margin-left: 100px;
 background-color: whitesmoke;
 height: 2500px;    
}

.welcome-user {
    text-align: center;
    height: 70px;
    margin-left: 100px;
    font-weight: bold;

}